<header id="header">
    <div class="container">
        <div class="row">
            <nav>
                <div class="burger_btn">
                    <div class="btn_wraper">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <div class="logo">
                    <a href="#"><img src="img/logo.png" alt="logo"></a>
                </div>
                <div class="main_menu mobile_hide">
                    <ul>
                        <li><a href="#" class="active">Поиск тура</a></li>
                        <li><a href="#">Горящие туры</a></li>
                        <li><a href="#">Отели Турции</a></li>
                        <li><a href="#">Как купить?</a></li>
                        <li><a href="#">Контакты</a></li>
                    </ul>
                </div>
                <div class="hot_line">
                    <a href="tel:+380444909691">
                        Горячая линия:<br>
                        <span class="number">+38 044 4909691</span>
                    </a>
                </div>
            </nav>
        </div>
        <div class="row">
            <div class="header_content">
                <h1>
                    Туры в лучшие отели Турции!<br>
                    <span>Бронирование и покупка онлайн всего за 10 минут</span>
                </h1>
                <p>Всего несколько кликов до отдыха вашей мечты.</p>
            </div>
        </div>
        <div class="row">
            <div class="header_reserve">
                <form action="#">
                    <div class="col-xs-12 col-md-9">
                        <p class="text-center">
                            Выбирайте, бронируйте, оплачивайте онлайн<br>
                            <span>
                                и отправляйтесь в путешествие на новом самолете,<br>
                                в удобное время и с питанием на борту.
                            </span>
                        </p>
                        <div class="select_block">
                            <select name="place" class="place">
                                <option value="0" selected>Анталія</option>
                            </select>
                            <input type="date" name="from_date" class="from_date">
                            <input type="date" name="to_date" class="to_date">
                            <select name="peoples" class="peoples">
                                <option value="">1</option>
                                <option value="">2</option>
                                <option value="">3</option>
                                <option value="">4</option>
                                <option value="">5</option>
                                <option value="">6</option>
                                <option value="">7</option>
                                <option value="">8</option>
                                <option value="">9</option>
                                <option value="">10</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-xs-12 col-md-3">
                        <input type="submit" value="Знайти" class="submit_btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
</header>