<section id="trust_us">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h4 class="small_section_title">Нам доверяют</h4>
                <h2 class="section_title">Все больше людей  приобретают туры онлайн</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="trusts">2577</div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <p class="bottom_text">
                    туров <span>продано онлайн</span><br>
                    в системе <a href="http://etour.ua">ETOUR.UA</a>
                </p>
            </div>
        </div>
    </div>
</section>